@import "vendor/normalize";

@import "base/variable";
$size-content-width: 90%;
$size-font-base: 14px;
$size-font-base-zh: 14px;
$size-two-cols-right-width: 4;

@import "base/typo";

@import "component/two_cols";
@import "component/namecard";
@import "component/keypoint";
@import "component/tabular";

@import "page/en";
@import "page/zh";
