.zh {
  font-family: $font-family-zh;

  em { font-style: normal; }

  .tabular {
    .name { font-style: normal; }
  }

  .point {
    .overview {
      h1 {
        .position { font-style: normal; }
      }
    }

    .detail {
      .meta { font-style: normal; }
    }
  }
}
