$size-two-cols-left-width: 1;
$size-two-cols-right-width: 5;

$size-font-base: 16px;
$size-font-base-zh: 16px;

$size-content-width: 55%;

$font-family: georgia, sans-serif;
$font-family-zh: 'STSong', 'LiSong Pro', 'Songti SC', sans-serif;

$color-highlight: rgb(203, 63, 32);
